.story-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.story-content {
  max-width: 90vw;
  max-height: 90vh;
  .imgContainer {
    width: 100%;
    height: 50%;
    max-height: 90vh;
    object-fit: cover;
  }
  .videoContainer{
    width: 100%;
    height: auto;
    max-height: 90vh;
  }
}


