.chat-box-container {
  width: 100%;
  height: 100vh;
  display: flex;
  border: 1px solid black;
  background-color: rgb(203, 212, 209);
  overflow: hidden;
  
  .chat-box {
    flex: 1;
    max-width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 2px solid #3b5549;
    
    .Chat-Header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      background-color: #809189;
      border-bottom: 3px solid #3b5549;
      
      h3 {
        color: #0a1312;
        margin-bottom: 5px;
      }
    }

    .search-container {
      width: 90%;
      display: flex;
      align-items: center;
      border: 1px solid #3b5549;
      padding: 5px;
      
      border-radius: 5px;
      flex-direction: column;
      
      input {
        height: 30px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        padding-left: 8px;
      }
      .search-results{
        position: absolute;
        transition: translate(-50%,-50%);
      }
    }

    .friends-List {
      flex: 1;
      overflow-y: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
      padding: 10px;
      
      .friend-item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: background 0.3s;
        
        &:hover {
          background: #eef2f1;
        }

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          border: 2px solid #1fd882;
          margin-right: 10px;
        }

        div {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}
