.message-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(33, 33, 33);

  .messageHeader {
    border-bottom: 1px solid #918c8c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #ffffff;

    .profileContainer {
      display: flex;
      align-items: center;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      label {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .message-box {
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 15px;
    display: flex;
    flex-direction: column;

    .receive-box {
      align-self: flex-start;
      background-color: rgb(48, 48, 48);
      color: white;
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      border-bottom-left-radius: 0px;
      word-break: break-all;
      .mm {
        font-size: 20px;
      }
      span {
        font-size: 10px;
      }
    }

    .send-box {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      background-color: rgb(48, 48, 48);
      color: white;
      padding: 10px;
      border-radius: 10px;
     border-bottom-right-radius: 0px;
      margin-bottom: 10px;
      max-width: 60%;
      word-break: break-all;
      .mm {
        font-size: 20px;
      }
      span {
        font-size: 10px;
      }
    }
  }
  .suggetion {
    display: flex;
    .suggetion-msg {
      display: flex;
      color: #666;
      align-items: flex-end;
      height: 50px;
      .suggestion-item {
        margin-left: 10px;
        border: 1px solid black;
        height: auto;
        width: auto;
        border-radius: 5px;
        padding: 0px 5px;
        line-break: anywhere;
      }

    }
  }

  .typeBoxContainer {
   
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-top: 1px solid #ddd;
   

    input {
      flex: 1;
      height: 45px;
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      font-size: 16px;
      outline: none;
    }

    .send-btn {
      width: 80px;
      height: 45px;
      border: none;
      border-radius: 20px;
      background-color: rgb(217, 135, 228);
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-left: 10px;
      transition: 0.3s;

      &:hover {
        background-color: rgb(190, 105, 198);
      }
    }
  }
}
